body {
    font-family: Arial, sans-serif;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .product {
    /* border: 1px solid #ddd; */
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0.5px 0.5px 15px 1px rgb(232, 229, 229);
  }
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;

  }
  .product-name {
    font-size: 18px;
    font-weight: bold;
  }
  .product-price {
    color: green;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
  .product-description {
    font-size: 14px;
    color: #666;
  }

  
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  .pagination button.active {
    background-color: #008cba; /* Change to your preferred color */
    color: white;
  }